{% extends "base.html" %}

{% block title %}
Начало
{% endblock title %}

{% block content %}
<div class="container">
<h1>Назначение:</h1>
<p>Программа предназначена для парсинга сведений о квартирах в доме по заданному адресу и обработки данных для создания
    плана размещения квартир в доме по подъездам и этажам.</p>
<h2>Инструкции:</h2>
<ul>
    <li>Перейдите в раздел <a href="/new-house">"Новый дом".</a></li>
    <li>Последовательно выберите выберите макрорегион, регион и населенный пункт из списка.</li>
    <li>Введите в соответствующие поля название улицы, номер дома, номер корпуса(если есть).</li>
    <li>Нажмите кнопку "Запустить парсинг", повторите через некоторое время при сообщении о неудаче.</li>
    <li>При успешном завершении парсинга нажмите кнопку "Заупстить обработку данных".</li>
    <li>После вывода на экран плана дома по кнопке "Редактировать" доступно назначение для заданной квартиры
        произвольных значений номера этажа и номера позиции на этаже.</li>
    <li>Список ранее обработанных домов находится в разделе <a href="/all-houses">"Обработанные дома".</a></li>
</ul>
</div>
{{ super() }}
{% endblock content %}